body{
    margin: 0;
}

.card{
    min-height: 100%;
}
.card-img{
  
   object-fit: cover;
   height: 300px;
   object-position: top;
   overflow: hidden;
}
.card-img img{
    width: 100%;
}
.card-body{
    padding: 20px 30px;
    height: 250px;
}
.card-body .card-title{
    max-width: 100%;
    font-size: 16px;
}